/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #070f12 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c1c3c3; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c1c3c3; background-color: rgba(138,228,94,0.4)}
.cm-s-nqqwal { background-color: #070f12; color: #c1c3c3; }
.cm-s-nqqwal span.cm-builtin { color: #0C4E4B; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #56676a; }
.cm-s-nqqwal span.cm-keyword { color: #136759; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #119B5C; }
.cm-s-nqqwal span.cm-def { color: #23C253; }
.cm-s-nqqwal span.cm-variable { color: #8AE45E; }
.cm-s-nqqwal span.cm-variable-2 { color: #23C253; }
.cm-s-nqqwal span.cm-string { color: #0C4E4B; }
.cm-s-nqqwal span.cm-string-2 { color: #0C4E4B; }
.cm-s-nqqwal span.cm-number { color: #23C253; }
.cm-s-nqqwal span.cm-tag { color: #136759; }
.cm-s-nqqwal span.cm-property { color: #8AE45E; }
.cm-s-nqqwal span.cm-attribute { color: #8AE45E; }
.cm-s-nqqwal span.cm-qualifier { color: #119B5C; }
.cm-s-nqqwal span.cm-meta { color: #23C253; }
.cm-s-nqqwal span.cm-header { color: #136759; }
.cm-s-nqqwal span.cm-operator { color: #136759; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(35,194,83,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #136759; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #070f12); }
