@define-color foreground #c1c3c3;
@define-color background #070f12;
@define-color cursor #c1c3c3;

@define-color color0 #070f12;
@define-color color1 #063C44;
@define-color color2 #0C4E4B;
@define-color color3 #136759;
@define-color color4 #119B5C;
@define-color color5 #23C253;
@define-color color6 #8AE45E;
@define-color color7 #c1c3c3;
@define-color color8 #56676a;
@define-color color9 #063C44;
@define-color color10 #0C4E4B;
@define-color color11 #136759;
@define-color color12 #119B5C;
@define-color color13 #23C253;
@define-color color14 #8AE45E;
@define-color color15 #c1c3c3;
